---
title: Le Wagon 2-hour landing workshop
---

<%= partial "components/banner" %>


<div class="container-fluid readme">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

      <section class="readme-section">
        <h2 class="readme-header">1. Let's set up</h2>
        <ol>
          <li>Start Sublime Text. It will open a new black window.</li>
          <li>Create a <strong>folder</strong> <code>landing</code> on your Desktop. Drag & drop this folder in the Sublime Text window.</li>
          <li>
            In Sublime Text left navigation:
            <ul>
              <li>Right click <strong>"New file"</strong></li>
              <li>Save it as <code>playground.html</code> with <strong>Cmd + S</strong> or <strong>Ctrl + S</strong></li>
              <li>Do the same to create a <code>style.css</code> file</li>
              <li>Then <strong>"New Folder"</strong> and create an <code>images</code> folder</li>
            </ul>
            </ul>
          </li>
          <li>Finally double click on <code>playground.html</code> to open it with Chrome</li>
        </ol>

        <img src='images/setup.png' width="100%"/>
      </section>

      <section class="readme-section">
        <h2 class="readme-header">2. Add some HTML content</h2>
        <ul>
          <li>
            To save time, just right-click on the following images and save them in your <code>images</code> folder
            <ul class="list-inline features">
              <li><img src="images/hustle.png" alt=""></li>
              <li><img src="images/connect.png" alt=""></li>
              <li><img src="images/relax.png" alt=""></li>
              <li><img src="images/move.png" alt=""></li>
            </ul>
          </li>
          <li>Then start with this HTML code in <code>playground.html</code></li>
        </ul>
<% code("html") do %>
<html>
  <head>
    <title>Landing Page</title>
  </head>
  <body>

    <h1>Walnut</h1>
    <p>Embrace the hustle</p>
    <a href="#">Enroll</a>

    <img src="images/hustle.png" alt="Hustle">
    <h2>Hustle</h2>
    <p>Hustle like your life depended on it</p>

    <img src="images/relax.png" alt="Relax">
    <h2>Relax</h2>
    <p>Open and private spaces for all your needs</p>

    <img src="images/connect.png" alt="Connect">
    <h2>Connect</h2>
    <p>Meet other talented individuals like yourself</p>

    <img src="images/move.png" alt="Move">
    <h2>Move</h2>
    <p>Do work, stay fit and keep your life super balanced</p>

    <p>Find us on Social Media</p>

  </body>
</html>
<% end %>
        <h3>Go further at home</h3>
        <ul>
          <li>You can pick your icons on <a href="https://thenounproject.com/" target="_blank">The Noun Project</a> or <a href="http://iconmonstr.com/" target="_blank">IconMonstr</a>.</li>
          <li><strong>Tips</strong>: Also stay tuned checking <a href="https://www.producthunt.com/search?q=icons" target="_blank">icon resources on Product Hunt</a></li>
        </ul>
      </section>

      <section class="readme-section">
        <h2 class="readme-header">3. CSS for fonts & colors</h2>
        <p>Link your stylesheet <code>style.css</code> in the <code>head</code> section of your HTML</p>


<% code("html") do %>
<head>
  <link href='style.css' rel='stylesheet'>
</head>
<% end %>
        <p>Then copy/paste the CSS code below in <code>style.css</code> and <strong>fix it</strong> cause it's ugly</p>
        <ul>
          <li>For fonts use <a href="https://www.google.com/fonts" target="_blank">Google Fonts</a> (Requires VPN) - Google now directly serves the css and font files from Google’s servers <strong>in Beijing</strong>, which means Google Fonts are much more stable and faster to users in China now.</li>
          <li>For colors use <a href="http://www.colorzilla.com/chrome/" target="_blank">Colorzilla Chrome plugin</a> to pick colors from other websites</li>
          <li>You can also find beautiful colors on <a href="https://coolors.co/" target="_blank">Coolors</a> or <a href="http://colorhunt.co/" target="_blank">Color Hunt</a></li>
        </ul>
<% code("css") do %>
/* style.css */
body{
  background: rgb(245,245,245);
  color: green;
  font-size: 25px;
  font-family: Helvetica;
}
h1{
  font-family: Courier;
  color: red;
  font-weight: lighter;
  font-size: 10px;
}
h2 {
  font-family: Courier;
  color: pink;
  font-weight: lighter;
  font-size: 8px;
}
a {
  color: yellow;
}
a:hover {
  text-decoration: none;
  color: purple;
}
<% end %>
      </section>
      <section class="readme-section">
        <h2 class="readme-header">4. Wrap with <code>div</code></h2>
        <p>Wrap different sections in different <code>div</code></p>

<% code("html") do %>
<div>
  <h1>Walnut</h1>
  <p>Embrace the hustle</p>
  <a href="#">Join us</a>
</div>

<div>
  <h2>Hustle</h2>
  <p>Hustle like your life depended on it</p>
  <img src="images/hustle.png" alt="Hustle">
</div>

<div>
  <h2>Relax</h2>
  <p>Open and private spaces for all your needs</p>
  <img src="images/relax.png" alt="Relax">
</div>

<div>
  <h2>Connect</h2>
  <p>Meet other talented individuals like yourself</p>
  <img src="images/connect.png" alt="Connect">
</div>

<div>
  <h2>Move</h2>
  <p>Do work, stay fit and keep your life super balanced</p>
  <img src="images/move.png" alt="Move">
</div>

<div>
  <p>Find us on Social Media</p>
</div>
<% end %>

      </section>
      <section class="readme-section">
        <h2 class="readme-header">5. Name your tags</h2>
        <ul>
          <li>Name your header and footer with <code>id</code> like <code>&lt;div id="header"&gt;</code> and <code>&lt;div id="footer"&gt;</code></li>
          <li>Name your features with <code>class</code> like <code>&lt;div class="card"&gt;</code></li>
          <li>Then add this nice CSS code</li>
        </ul>
<% code("css") do %>
/****************/
/* navbar */
/****************/

.navbar {
  background:white;
  padding:5px;
  text-align: center;
}

/****************/
/* header */
/****************/

#header {
  text-align: center;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url("http://acceler8.ph/images/coworking.jpg?format=2500w");
  background-size: cover;
  padding: 150px;
  color: white;
}

#header p {
  font-size: 25px;
  margin:40px;
}

#header a.btn {
  padding:15px;
  text-decoration: none;
}

/****************/
/* content */
/****************/

.container {
  padding:20px 0px;
  background-color: #F3F3F3;
  display:flex;
  justify-content: space-around;
  text-align: center;
}

.card {
  padding: 50px;
  font-weight: lighter;
  background-color: white;
  text-align:center;
  width:200px;
}

.card img {
  width:100px;
}

/****************/
/* footer */
/****************/

#footer {
  padding: 50px;
  background: #1E1E1E;
  color: lightgrey;
  text-align: center;
  line-height: 2;
}
#footer a {
  color: lightgrey;
  font-size: 20px;
}
#footer a:hover {
  color: white;
}

#footer ul {
  padding-left:0;
  list-style: none;
}

#footer li {
  display: inline-block;
  padding:0px 10px;
}

/****************/
/* forms */
/****************/

.input {
  font-size: 18px;
  height:50px;
  padding:0px 15px;
  background:white;
  border:1px solid lightgray;
  width:200px;
  border-radius:3px;
}

.btn {
  background:#F5941F;
  color:white;
  font-weight: bolder;
  width:150px;
  border:1px solid black;
}

.btn:hover {
  background: #F78000;
  color:white;
}
<% end %>
      </section>
      <section class="readme-section">
        <h2 class="readme-header">6. Fontawesome</h2>
        <p>In your <code>head</code>, it's in your <code>head</code>!</p>
<% code("html") do %>
<head>
  <link rel="stylesheet" href="https://apps.bdimg.com/libs/fontawesome/4.1.0/css/font-awesome.min.css">
</head>
<% end %>
        <p>And then in the footer</p>
<% code("html") do %>
<ul>
  <li><a href="#"><i class="fa fa-weibo"></i></a></li>
  <li><a href="#"><i class="fa fa-weixin"></i></a></li>
  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
  <li><a href="#"><i class="fa fa-github"></i></a></li>
</ul>
<% end %>
        <p>With a bit of CSS style</p>
<% code("css") do %>
#footer a {
  color: lightgrey;
  font-size: 15px;
}
#footer a:hover {
  color: white;
}
<% end %>
      </section>
      <section class="readme-section">
        <h2 class="readme-header">7. Bootstrap setup</h2>
        <ol>
          <li>Create a new <code>index.html</code> file with the Bootstrap template below</li>
          <li>Inject your content in the <code>body</code></li>
          <li>Play with <code>class="btn btn-primary"</code> and <code>class="list-inline"</code>, your first Bootstrap classes</li>
        </ol>
<% code("html") do %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My landing Page</title>

    <link rel="stylesheet" href="http://libs.baidu.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/fontawesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">

  </head>
  <body>

    <!-- TODO: insert your page content here -->

    <!-- jQuery & Bootstrap javascript files -->
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.2.0/js/bootstrap.js"></script>
  </body>
</html>
<% end %>
      </section>
      <section class="readme-section">
        <h2 class="readme-header">8. Bootstrap grid</h2>
        <ul>
          <li>Inject your 4 cards div in the following responsive grid</li>
        </ul>
<% code("html") do %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <!-- div class="card" -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <!-- div class="card" -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <!-- div class="card" -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <!-- div class="card" -->
    </div>
  </div>
</div>
<% end %>
      </section>
    </div>
  </div>
</div>
